<mat-drawer-container class="container" autosize >
  <!-- Will be triggered by (click) = "drawer.toggle()" -->
   
  <div class="sidenav-content">
      <mat-toolbar color="primary">
          <mat-toolbar-row>
              <!-- 
                drawer.toggle(): will call #drawer and will bring the sidenav into view
              -->
              <button *ngIf="isLoggedIn()" mat-icon-button (click) = "drawer.toggle()">
                      <mat-icon>menu</mat-icon>
              </button>
              <button mat-button routerLink="/home" [disabled]="!isLoggedIn()">Hunter Collab</button>
       
              <span class="spacer"></span>
              
              <mat-menu #menu="matMenu" >
                
              </mat-menu>

          </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
  </div>
  
  <mat-drawer   #drawer class="sidenav">
          <button mat-menu-item routerLink="/home" (click)="drawer.toggle()">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button> 

          <button mat-menu-item routerLink="/user" (click)="drawer.toggle()">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button> 
        <!--
          <button mat-menu-item routerLink="/conversations" (click)="drawer.toggle()">
            <mat-icon >send</mat-icon>
            <span>Messenger</span>
          </button> 
        -->
          <button mat-menu-item (click)="logOut()" (click)="drawer.toggle()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>          
  </mat-drawer>
 
</mat-drawer-container>




   
